*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

:root{
    --navlinks: rgb(46, 46, 46);
}
a:visited{
    color: black;
}

/* ---------NAVBAR PART------------  */

.navbar{
    background-color: var(--navlinks);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.navbar ul{
    display: flex;
    align-items: center;
    line-height: 30px;
    height: 50px;
    list-style: none;
    background-color: brown;
    border-radius: 10px;
}
.navbar ul li{
    margin-left: 25px;
    margin-right: 25px;

}
i{
    height: 10px;
}
.navbar ul li a i{
    transition: 0.5s;
    position: relative;
    font-size: 24px;
}
.navbar ul li:hover i{
    transform: translateY(-24px);
}

.navbar ul li:hover .text{
    transition: 0.5s;
    opacity: 1;
}

.navbar ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.navbar ul li .text{
    position: absolute;
    transform: translateY(8px);
    opacity: 0;
}


.navbar .active{
    background-color: var(--navlinks);
    transform: translateY(-20px);
    border: 10px solid var(--navlinks);
    height: 24px;
    border-radius: 30px;
}

.navbar .active:hover a i{
    transform: translateY(0) !important;
}

.navbar .active a .text{
    transition: 0.5s;
    opacity: 1 !important;
    transform: translateY(35px) !important;
}

/*  //////////////NAVBAR PART  */


/* -----------POSTS PART ------------- */

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts{
    margin: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
}

.post-card{
    height: 400px;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgb(133, 133, 133);
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}


.post-card:hover .card-header{
    display: flex;
    background-color: rgb(236, 236, 236);
    flex-grow: 1;
    border-bottom: 2px solid black;
    border-radius: 10px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.post-card:hover{
    transform: translateY(-20px);
    cursor: pointer;
}

.post-card:hover .card-info{
    opacity: 1;
}


.card-header{
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
   
}
.card-info{
    display: flex;
    background-color: rgb(171, 187, 99);
    border-radius: 10px;
    flex-grow: 0.5;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    transition: 0.25s;
}
.card-img{
    display: flex;

    flex-grow: 1.5;
}

.buttons-left-right{
    margin-top: 50px;
}

.buttons-left-right a{
    font-size: 50px;
}

.buttons-left-right a i{
    color: rgb(202, 202, 202);
}

.like{
    font-size: 38px;
    border-radius: 30px;
    color: white;
    position: relative;
    top: -10px;
}

.arrow-page{
    position: relative;
    border-radius: 50%;
    padding: 5px 13px 5px 13px;
    box-shadow:  1px 1px 5px rgb(133, 133, 133);
    transition: 0.5s;
}
.arrow-page:hover{
    border-radius: 50%;
    padding: 5px 13px 5px 13px;
    box-shadow: inset  1px 1px 5px rgb(133, 133, 133);
    transform: translateY(-20px);
}





/************* SETTINGS MENU **************/


.settings-menu{
    z-index: 2;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(133, 133, 133);
    position: fixed;
    bottom: 40px;
    right: 10px;
    
}

.menu-itens{
    width: 75px;
    background-color: transparent;
    position: fixed;
    bottom: 140px;
    right: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-item{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    left: 0px;
    top: 300px;
    transition: 0.5s;
    margin-top: 10px;
    display: none;
    justify-content: center;
    align-items: flex-start;
}
.menu-item i{
    font-size: 40px;
}


.settings-menu:hover .menu-item{
    transform: translateX(0);
}

.settings-menu>i{
    font-size: 50px;
    position: relative;
    left: 15px;
    top: 10px;
}

.menu-item a{
    color: black;
}
.menu-item a:visited{
    color: black;
}